        div.notice1 {
        background-color: lightblue;
        border: 1px solid blue;
        text-align: center;
        opacity: 0.5
        border-radius: 8px;        
         }
        </style>

        <style>
        p {
        opacity: 1;
        z-index: 3;
         }
